
client/node_modules/
client/.next
client/.env.local
frontend/.env
frontend/.env.local
frontend/node_modules
client/.env
server/node_modules/
server/.env
frontend/.env
frontend/.env
server/uploads/
frontend/public/sitemap-0.xml
