.container{
    position: relative;
    z-index:0;
}
.container:before {
    /* Rectangle 157 */
--rectangleColor:  #E8F5E9;
content:'';
position: relative;
width: 5em;
height: 5em;
top: 5em;
right: -2.5em;
z-index: -1;

/* Tint/T5 */

background: var(--rectangleColor);
border-radius: 12.5293px 3.48035px 6.96069px;
transform: rotate(-180deg);
}