@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:'Manrope', sans-serif;
}

html{
  scroll-behavior: smooth;
  background-color:#150067;
  font-family:'Manrope', sans-serif;
  color: #fff;

  /* width: calc(100vw - (100vw - 100%)); */
}
section{
   /* width: calc(100vw - (100vw - 100%)); */
  /* min-height: 100dvh; */
  height : auto;
}
:root{
   --accent: #EE4444;

    --blue: #2A19FF;
    --blueL20:#5547ff;
    --blueL60:#aaa3ff;
    --blueD20:#2214cc;
    --blueD60:#110a66;
    --blueD80:#080533;

  
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #ccc; 
}

main{
  z-index:0;
}

.outlined {
    outline: 3px red dotted;
  }


  /*   blue: {
    default: '#2A19FF',
    dark20:'#2214cc',
    dark60: '#110a66',
    light20: '#5547ff',
    light60: '#aaa3ff',
  }, */

