.round-container {
  position: relative;
  width: 374px;
  height: 374px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index:-2;
 
}

.round-container::before,
.round-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.round-container::before {
  width: 300px;
  height: 300px;
}

.round-container::after {
  width: 154px;
  height: 154px;
}

.round1,
.round2,
.round3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.round1 {
  width: 154px;
  height: 154px;
  background: linear-gradient(135deg, #FC7272 0%, #DF1515 100%);
}

.round2 {
  width: 228px;
  height: 228px;
  background: linear-gradient(135deg, rgba(255, 117, 161, 0.19) 0%, rgba(26, 64, 255, 0.27) 100%);
}

.round3 {
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, rgba(255, 117, 161, 0.19) 0%, rgba(26, 64, 255, 0.27) 100%);
}
