.sticky{
    position:sticky;
    top: 0px;
    
    background: transparent;
    z-index: 10;
}
 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0 16px;
  width: 100mvw;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 960px; */
  
}

.menuButton {
  display: block;
  width: 4em;
  height: 3em;
  cursor: pointer;
  position: relative;
 
}

.menuButton span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.menuButton span:nth-child(1) {
  transform-origin: left center;
  top:20%;
 
}
.menuButton span:nth-child(2) {
    width: 50%;
}

.menuButton span:nth-child(3)  {
  transform-origin: right center;
   top:80%;
}

.menuButton:hover span {
  opacity: 0.6;
}

.menuButton:focus span {
  transform:  rotate(45deg);
}

.menuButton:focus span:nth-child(2) {
  opacity: 0;
  transform: translateY(50%) scale(0.01, 1);
}

.menuButton:focus span:last-child {
    top:0;
  transform:  rotate(-135deg);
}

.menu {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  max-width: 300px;
  background-color: #333;
  color: #fff;
  list-style: none;
  padding: 16px;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}

.menu.showMenu {
  transform: translateX(0%);
}

.menu li {
  margin-bottom: 16px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}
